header
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  top:0;
}
.nav1{
  display: flex;
  gap: 2vh;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
}